<div class="feature" id="poem" style="border: 10px solid <%=@photo['color']%>" onclick="expand()">
  <h2>Read</h2>
  <h3><%= @poem['title'] %></h3>
  <h4><%= @poem['author'] %></h4>
    <% @poem['lines'].each do |line| %>
      <p><%= line %></p>
    <% end %>
</div>

<%= javascript_include_tag 'poem' %>
