<!-- MENU SECTION  -->
<div class="menu-container" onclick="openMenu()">
  <!-- <i class="fas fa-bars"></i> -->
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>

  <div id="menu-content" class="menu-dropdown">
    <div onclick="openOverlay1()">About</div>
    <% if !session[:id] %>
      <div onclick="openOverlay2()">Login</div>
      <div onclick="openOverlay3()">Signup</div>
    <% else %>
      <%= link_to "Profile", "/profile" %>
      <%= link_to "Logout", logout_path, method: :post %>
    <% end %>
  </div>
</div>

<!-- MENU OVERLAYS -->
<div id="overlay1" class="overlay-container">
  <div class="closebtn" onclick="closeOverlay1()">&times;</div>
  <div class="overlay-about">
    <p>'Feeln' is your go-to content generator app based...you guessed it! Your current mood!<br>
        Select an emoji and watch the magic to happen!
    </p>
  </div>
</div>

<div id="overlay2" class="overlay-container">
  <div class="closebtn" onclick="closeOverlay2()">&times;</div>
  <div class="overlay-login">
    <%= form_tag("/login", method: "post", remote: true) do %>
      <h2>Login</h2>
      <%= text_field_tag :email, nil, placeholder: "Email" %><br>
      <%= text_field_tag :password, nil, placeholder: "Password" %><br>
      <%= submit_tag("Login", {:class => 'loginBtn'}) %>
    <% end %>
  </div>
</div>

<div id="overlay3" class="overlay-container">
  <div class="closebtn" onclick="closeOverlay3()">&times;</div>
  <div class="overlay-signup">
    <%= form_for @user, remote:true do |f| %>
      <h2>Signup</h2>
      <%= f.email_field :email, placeholder: "Email (e.g. example@hotmail.com)" %><br>
      <%= f.text_field :username, placeholder: "Username" %><br>
      <%= f.text_field :first_name, placeholder: "First Name" %><br>
      <%= f.text_field :last_name, placeholder: "Last Name" %><br>
      <%= f.password_field :password, placeholder: "Password (min. 8 characters)" %><br>
      <%= f.submit("Create", {:class => 'createBtn'}) %>
    <% end %>
  </div>
</div>

<!-- EMOJI GRID -->
<h1>What's The Mood?</h1>
<%= form_tag("/mood", method: "post", class: 'container') do %>
  <%= hidden_field_tag 'coordinates' %>
  <% Dir.foreach('./app/assets/images/emojis') do |item| %>
    <% next if item[0] == '.' %>
    <div class="emoji">
      <%= image_tag("emojis/#{item}") %>
      <%= radio_button_tag(:mood, item) %>
    </div>
  <% end %>
  <%= submit_tag('Submit') %>
<% end %>

<%= javascript_include_tag 'emoji-grid', 'pages' %>
