<!-- <p>Create a select form with the emojis as possible inputs that directs to POST '/mood'</p> -->

<h1>What's The Mood?</h1>
<%= form_tag("/mood", method: "post", class: 'container') do %>
  <%= hidden_field_tag 'coordinates' %>
  <% Dir.foreach('./app/assets/images/emojis') do |item| %>
    <% next if item[0] == '.' %>
    <div class="emoji">
      <%= image_tag("emojis/#{item}") %>
      <%= radio_button_tag(:mood, item) %>
    </div>
  <% end %>
  <%= submit_tag('Submit') %>
<% end %>

<%= javascript_include_tag 'emoji-grid' %>
