<!-- EMOJI GRID -->
<h1 id="main">What's The Mood?</h1>

<%= form_tag("/mood", method: "post", class: "mood") do %>
  <div class='container'>
    <%= hidden_field_tag 'coordinates' %>
    <% Dir.foreach('./app/assets/images/emojis') do |item| %>
      <% next if item[0] == '.' %>
      <div class="emoji">
        <label>
          <%= radio_button_tag(:mood, item) %>
          <%= image_tag("emojis/#{item}") %>
        </label>
      </div>
    <% end %>
  </div>
  <%= submit_tag('Submit') %>
<% end %>


<%= javascript_include_tag 'emoji-grid', 'pages' %>
