<!DOCTYPE html>
<html>
  <head>
    <title>Groupproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- MENU SECTION  -->
    <div class="menu-container" onclick="openMenu()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>

      <div id="menu-content" class="menu-dropdown">
        <div onclick="openOverlay1()">About</div>
        <div><%= link_to "Home", root_path %></div>
        <% if !session[:id] %>
          <div><%= link_to "Connect With Spotify", spotify_logins_create_path %></div>
        <% else %>
          <%= link_to "My Journal", "/profile" %>
          <%= link_to "Logout", logout_path, method: :post %>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
