<!DOCTYPE html>
<html>
  <head>
    <title>Groupproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- MENU SECTION  -->
    <div class="menu-container" onclick="openMenu()">
      <div class="bar1" style=""></div>
      <div class="bar2" style=""></div>
      <div class="bar3" style=""></div>

      <div id="menu-content" class="menu-dropdown" style="">
        <div onclick="openOverlay1()">About</div>
        <div><%= link_to "Home", root_path %></div>
        <% if !session[:spotify_user] %>
        <div><%= link_to "Connect With Spotify", spotify_logins_create_path %></div>
        <% else %>
        <div><%= link_to "Profile", "/profile" %></div>
        <div><%= link_to "Logout", logout_path, method: :post %></div>
        <% end %>
      </div>
    </div>

    <!-- MENU OVERLAY -->
    <div id="overlay1" class="overlay-container" style="">
      <div class="closebtn" onclick="closeOverlay1()">&times;</div>
      <div class="overlay-about">
        <p>
           'Feelng' is your go-to content generator app based on your current mood.<br>
            Select an emoji and watch the magic happen!

            Feelng uses the following APIs to set the mood:<br>
            Poetry: <a href="http://poetrydb.org/index.html">PoetryDB</a><br>
            Music: <a href="https://developer.spotify.com/documentation/web-api/">Spotify</a><br>
            Events/Attractions: <a href="https://developer.foursquare.com/">Foursquare</a><br>
            Images: <a href="https://unsplash.com/developers">Unsplash</a><br>
            <% if request.path == '/mood' %>
            The image on this page is by <a href="<%=@photo['user']['links']['html']%>"><%= @photo['user']['name'] %></a>
            <% end %>
        </p>
      </div>
    </div>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
