<!DOCTYPE html>
<html>
  <head>
    <title>Groupproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- MENU SECTION  -->
    <div class="menu-container" onclick="openMenu()">
      <div class="bar1" style=""></div>
      <div class="bar2" style=""></div>
      <div class="bar3" style=""></div>

      <div id="menu-content" class="menu-dropdown" style="">
        <div onclick="openOverlay1()">About</div>
        <% if !session[:id] %>
          <div onclick="openOverlay2()">Signup</div>
          <div onclick="">Spotify Authentication</div>
        <% else %>
          <%= link_to "Profile", "/profile" %>
          <%= link_to "Logout", logout_path, method: :post %>
        <% end %>
      </div>
    </div>

    <!-- MENU OVERLAYS -->
    <div id="overlay1" class="overlay-container" style="">
      <div class="closebtn" onclick="closeOverlay1()">&times;</div>
      <div class="overlay-about">
        <p>'Feelng' is your go-to content generator app based on your current mood.<br>
            Select an emoji and watch the magic to happen!

            Feelng uses the following APIs to set the mood:<br>
            Poetry: <a href="http://poetrydb.org/index.html">PoetryDB</a><br>
            Music: <a href="https://developer.spotify.com/documentation/web-api/">Spotify</a><br>
            Events/Attractions: <a href="https://developer.foursquare.com/">Foursquare</a><br>
            Images: <a href="https://unsplash.com/developers">Unsplash</a><br>
            <% if request.path == '/mood' %>
            The image on this page is by <a href="<%=@photo['user']['links']['html']%>"><%= @photo['user']['name'] %></a>
            <% end %>

        </p>
      </div>
    </div>

    <div id="overlay2" class="overlay-container" style="">
      <div class="closebtn" onclick="closeOverlay2()">&times;</div>
      <div class="overlay-signup">
        <% if !current_spotify_user %>
          <%= form_for @user, remote:true do |f| %>
            <h2>Signup</h2>
            <%= f.email_field :email, placeholder: "Email (e.g. example@hotmail.com)" %><br>
            <%= f.text_field :username, placeholder: "Username" %><br>
            <%= f.text_field :first_name, placeholder: "First Name" %><br>
            <%= f.text_field :last_name, placeholder: "Last Name" %><br>
            <%= f.password_field :password, placeholder: "Password (min. 8 characters)" %><br>
            <%= f.submit("Create", {:class => 'createBtn'}) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
